body {
	background-image: url("/assets/stardust.png");
}

.grabber-box {
	color: orange;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: '3dumbregular', Helvetica, sans-serif;
}

h2 {
	font-family: '2dumbregular', Helvetica, sans-serif;
}

.grabber-box h1 {
	font-size: 400%; 
}

.truth-box {
	color: white;
	border-radius: 10px;
	border: 1px solid orange;
	padding: 20px;
	-moz-box-shadow: 5px 5px 5px gray;
	-webkit-box-shadow: 5px 5px 5px gray;
	box-shadow: 5px 5px 5px gray;
	height: 300px;
	
}

