<!DOCTYPE html>
<html>
<head>
  <title>Impact</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="grabber-box col-xs-12">
		<h2 class="impact-header">Welcome to</h2>
		<h1>IMPACT</h1>
		<h2>Giving homeschoolers the confidence to know they can make a big impact in the world!</h2>
	</div>	

	

<%= yield %>

</body>
</html>
